# Node modules
node_modules/

# Build output
dist/
build/

# Environment files
.env

# Logs
*.log

# Dependency directories
**/node_modules/

# TypeScript cache
*.tsbuildinfo

# OS-specific files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# IDE and editor files
*.swp
*.swo
*.swn
*.tmp

# NPM package lock file
package-lock.json

# Yarn lock file
yarn.lock

# PostgreSQL
*.sql
*.sql.gz

# Debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Coverages
coverage/
